.home-container h1[b-2i908hv98z] {
    font-size: 2rem;
    color: #ef6626;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #ffa14f;
    padding-bottom: 0.5rem;
}

.home-container p[b-2i908hv98z] {
    font-size: 1.2rem;
    color: #333;
    background-color: #ffedd5;
    padding: 0.75rem 1rem;
    border-left: 5px solid #ec7d38;
    border-radius: 4px;
    margin-bottom: 1rem;
}



.home-container h1[b-2i908hv98z]{
    animation: slideFadeIn-b-2i908hv98z 0.6s ease-out;
}
@keyframes slideFadeIn-b-2i908hv98z {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.event-grid[b-2i908hv98z] {
    display: block;
    gap: 1rem;
}
