@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.event-card {
    animation: fadeInUp 0.6s ease-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.event-card:hover {
    transform: translateY(-5px);
    /*box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);*/
}


.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.bottom-button {
    margin-top: auto !important;
}


.card-description {
    font-size: 0.95rem;
    color: #444;
    margin-top: 0.5rem;


    display: -webkit-box;
    -webkit-line-clamp: 3; /* show only 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-category {
    font-size: 0.85rem;
    font-style: italic;
    color: #ef6626;
    margin-top: 0.25rem;
}

.card-tags {
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
}

.tag {
    background-color: #f97316;
    color: white;
    padding: 0.2rem 0.6rem;
    border-radius: 12px;
    font-size: 0.75rem;
    margin-right: 0.3rem;
    display: inline-block;
}